@media (max-width: 1440px)
  body header img
    width: 190px
    height: 90px
  body .home-section
    display: flex
    flex-direction: row
    justify-content: space-between
    height: auto
    p
      width: 600px
      font-size: 40px
      strong
        font-size: 45px
    .illustration
      height: 514px

  body .about-section
    display: grid
    grid-template-areas: 'title title'

    margin-top: -150px
    h2
      margin: 0
      grid-area: title
      font-size: 44px
      width: auto
    p
      grid-area: desc
      width: 765px
      font-size: 24px
    .tecs
      grid-area: tecs
